*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header1 none1 none2"
    "header2 none3 none4";
    max-height: 10vh;
}
header .logo, .logowork{
    font-size: 4vw;
    font-weight: 700;
    color: #1b1b1b;
    font-weight: 500 bold;
    text-shadow: 0px 10px 20px #c5cccc86;
    text-align: center;
    opacity: 0.8;
}
header .logowork{
    font-size: 3vw;
}
body{
    background: #000;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
    background-attachment: fixed; 
}
main {
    overflow: visible;
    padding-top: 10vh;
    width: 80vw;
    height: 75vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "face1 face2 face3"
    "back1 back2 back3";
    grid-column-gap: 4vw;
}
.back{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border-radius: 20px;
    position: relative;
    min-width: 20vw;
    min-height: 18vh;
    color:#37474f;
    transform: translateY(-100px);
    background-color:#e5ffff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    font-size: auto;
    opacity: 0;
    font-weight: 500;
    z-index: 0;
    transition: 0.4s ease-out 0.2s;
}
.face{
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease-in;
    background-color: transparent;
    min-width: 20vw;
    min-height: 18vh;
    padding: 5px;
    align-items: center;
    text-align: center;
    transform: translateY(100px);
    box-shadow: 0 20px 50px rgba(233, 225, 225, 0.8);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 1);
    z-index: 1;
    opacity: 0.4;
}
.card1:hover .face, .card3:hover .face, .card2:hover .face{
    opacity: 1;
    transform: translateY(0);
    background-color: #d81b60;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
.card1:hover .back, .card2:hover .back, .card3:hover .back{
    transform: translateY(-2vh);
    opacity: 1;
    border-radius: 0 0 20px 20px;
}
.face img{
    padding-top: 1vh;
}
.face img .facetext{
    background-color: transparent;
    opacity: 0.6;
}
.back p{
    margin: 2vh 0 2vh 0;
    background: none;
    padding: 2vh 2vh 0 2vh;
}
.back a{
    border-radius: 10px;
    position: relative;
    font-weight: 500;
    color: #e5ffff;
    background: #1b1b1b;
    text-decoration: none;
    border: 2px solid #000;
    margin: 2vh;
    padding: 3px 5px;
}
.back a:hover{
    font-weight: 500;
    transition: 0.5s ease;
    color: #000;
    background: #d81b60;
}
footer{
    height: 20vh;
    display: flex;
    text-align: center;
    max-width: 10vh;
    max-height: 10vh;
    margin: auto;
    padding-top: 10px;
}
.scrollButton{
    position: relative;
    font-weight: 500; 
    text-decoration: none;
    color: #e5ffff;
    text-shadow: 0px 10px 20px #c5cccc86;
    font-size: 3.1vh;   
    padding: 3px 5px;
    z-index: 2;   
}
@media screen and (max-width: 850px){
    main{
        padding-top: 02vh;
    }

}
@media screen and (max-width: 740px){
    body{
        background-attachment: fixed; 
    }
    main{
        padding-top: 0vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "card1 card1 card2 card2"
        ". card3 card3 .";
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
}
@media screen and (max-width: 450px){
    body{
        background-attachment: fixed; 
    }
    main{
        padding-top: 0vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "card1"
        "card2"
        "card3";
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
}
.logo{
    grid-area: none1;
}
.logowork{
    grid-area: none3;
}
#cvface{
    grid-area: face1;
}
#projectface{
    grid-area: face2;
}
#contactface{
    grid-area: face3;
}
#cvback{
    grid-area: back1;
}
#projectback{
    grid-area: back2;
}
#contactback{
    grid-area: back3;
}


